@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 font-poppins;
}

.btnPrimary {
  @apply font-semibold rounded-md lg:w-2/3 py-3 px-6 border-blue-500 border-2  bg-blue-500 text-white hover:bg-blue-700 hover:border-blue-700 duration-100;
}

.btnSecondary {
  @apply font-semibold rounded-md py-3 px-6 border-gray-300 border-2  bg-white text-blue-700 hover:border-blue-700 duration-100;
}

.inputStyle {
  @apply font-medium p-4 lg:w-2/3 flex py-3 border-2 border-gray-300 rounded-lg outline-blue-500 hover:border-blue-600 duration-500 transition-all ease-in;
}

.addInput {
  @apply flex text-sm py-2 w-full outline-none focus-within:border-blue-600 focus:border-blue-600 px-3 border-gray-300 border-[1px] my-[6px] rounded;
}

.addButton {
  @apply bg-blue-600 py-2 px-3 hover:bg-blue-700 rounded text-white font-medium  flex items-center gap-2 text-sm;
}

.cancelBtn {
  @apply rounded py-3 hover:bg-blue-100 font-semibold text-sm px-6 text-blue-600 border-2 border-blue-600;
}

.createBtn {
  @apply bg-blue-600 py-3 hover:bg-blue-700 px-6 font-semibold text-white rounded text-sm;
}

.sidebarItem {
  @apply flex items-center gap-3 p-3 rounded-sm hover:bg-gray-100 opacity-70;
}

.sidebarActive {
  @apply text-blue-600 font-semibold bg-blue-100 opacity-100 hover:bg-blue-100;
}

.layoutContainer {
  @apply py-2 md:py-4 px-4 md:px-10;
}

.contentContainer {
  @apply bg-white p-4 my-4 rounded shadow;
}

.pageName {
  @apply font-semibold text-2xl;
}

.sidebarSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.shadowProfile {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}
